*, *:before, *:after {
   box-sizing: inherit; }

html {
   font-size: 15px;
   box-sizing: border-box; }

body, button, input, select, textarea {
   font-family: "Source Sans Pro", sans-serif;
   font-size: inherit;
   line-height: 1.333334; }

body {
   margin: 20px; }

H1 {
   font-size: 24px;
   font-weight: 600;
   margin-top: 0;
   margin-bottom: 15px; }

H2 {
   font-size: 17px;
   font-weight: 600;
   margin-top: 15px;
   margin-bottom: 15px;
   vertical-align: baseline; }

a {
   color: #07C;
   text-decoration: none; }
a:hover {
   text-decoration: underline; }
.pseudoButton,
.miniPseudoButton {
   color: #07C;
   cursor: pointer; }
.miniPseudoButton {
   font-size: 12px; }

div.footer {
   margin-top: 15px;
   font-size: 13px; }

#hideAnalysisLink {
   margin-left: 5px;
   font-weight: normal;
   font-size: 15px; }
#showAnalysisLink {
   display: none; }
body.analysisHidden #showAnalysisLink {
   display: block; }
body.analysisHidden #analysisSection {
   display: none; }

code,
.code {
   font-family: Consolas, monospace; }
code {
   background-color: #eff0f1; }

input[type="text"],
input[type="number"] {
   padding: 1px 2px; }

input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none; }
input[type="number"] {
   -moz-appearance: textfield; }
input[type="text"]:invalid:not(:focus),
input[type="number"]:invalid:not(:focus) {
   box-shadow: 0 0 1px 1px #f00; }

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
.canvasFrame:focus-within {
   outline: 1px auto #4D90FE; }
.canvasFrame:focus-within {
   outline-style: solid; }

.hidden {
   display: none !important; }

.parmBlock {
   margin-top: 20px;
   margin-bottom: 10px;
   max-width: 1280px;
   display: flex;
   flex-wrap: wrap;
   align-items: baseline;
   column-gap: 20px;
   row-gap: 8px; }
.parmBlockContinuationFirst {
   margin-bottom: 0px; }
.parmBlockContinuationLast {
   margin-top: 8px; }

.parmField {
   display: flex;
   align-items: baseline; }

.parmBlock input[type="checkbox"] {
   margin-left: 0; }

label {
   position: relative; }

.fieldInfoButton {
   position: absolute;
   right: 0px;
   top: -10px;
   width: 10px;
   height: 10px;
   box-sizing: content-box;
   padding: 4px;
   z-index: 1;
   cursor: pointer;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 10px 10px;
   background-image: url('data:image/svg+xml,<svg version="1.1" viewBox="2 2 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M10 9.25 a.75.75 0 0 1 .75.75 v3.333 a.75.75 0 0 1-1.5 0 V10 a.75.75 0 0 1 .75-.75 M10 5.833 a.959.959 0 1 1-.001 1.917 A.959.959 0 0 1 10 5.833" fill="%2305c"/><path d="m10 2.085a7.915 7.915 0 1 1 0 15.83 7.915 7.915 0 0 1 0-15.83m0 1.33a6.585 6.585 0 1 0 0 13.17 6.585 6.585 0 0 0 0-13.17" clip-rule="evenodd" fill="%2305c" fill-rule="evenodd"/></svg>'); }
.miniControlsBelowViewer .fieldInfoButton {
   top: -8px; }

.fieldInfoText {
   position: absolute;
   top: 30px;
   left: -13px;
   min-width: 268px;
   z-index: 2;
   border: 1px solid #AAAAAA;
   border-radius: 10px;
   background-color: #FFFFDD;
   padding: 10px 12px; }
.miniControlsBelowViewer .fieldInfoText {
   top: 25px; }

div.actionButtons {
   margin-top: 15px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   column-gap: 20px;
   row-gap: 10px; }

div.actionButtons > button {
   width: 110px;
   padding: 4px 0px; }

div.actionButtons > div {
   margin-right: 20px; }

.w110 {
   width: 110px; }
.w130 {
   width: 130px; }

#referenceField label {
   width: 80px; }
#reference {
   width: 295px; }

/*--- Function curve viewers and editor --------------------------------------*/

canvas.functionCurveViewer,
canvas.functionCurveEditor {
   display: block;
   width: 100%;
   height: 100%;
   touch-action: none; }

div.functionCurveViewerFrame,
div.functionCurveEditorFrame {
   margin-top: 15px;
   border: 1px solid black;
   width: min(1280px, 100%);
   height: 250px;
   resize: both;
   overflow: hidden; }

#amplitudeEditorFrame,
#frequencyEditorFrame {
   height: 200px; }

#inputSignalViewerFrame,
#outputSignalViewerFrame,
#outputSpectrumViewerFrame {
   height: 150px; }

.miniControlsBelowViewer {
   margin-top: 5px;
   display: flex;
   align-items: baseline;
   column-gap: 15px; }
.miniControlsBelowViewer,
.miniControlsBelowViewer .miniPseudoButton {
   font-size: 13px; }
.miniControlsField {
   display: flex;
   align-items: baseline; }
.miniControlsField input[type="checkbox"] {
   margin: 0;
   vertical-align: middle; }
#specDistPaintModeField label {
   width: 110px; }
#showOriginalSpecCurveField label {
   width: 100px; }

.helpText {
   background-color: #FEFAE2;
   border: 1px solid #F3EED5;
   padding: 3px;
   margin-top: 8px;
   margin-bottom: 20px;
   width: 450px; }

table.functionCurveViewerHelp,
table.functionCurveEditorHelp {
   border-collapse: collapse;
   width: 100%; }

table.functionCurveViewerHelp td,
table.functionCurveEditorHelp td {
   padding: 3px;
   vertical-align: top;
   border-bottom: 1px solid #eee; }
table.functionCurveViewerHelp tr:last-child td,
table.functionCurveEditorHelp tr:last-child td {
   border-bottom: none; }

.functionCurveViewerHelpCol1,
.functionCurveEditorHelpCol1 {
   width: 50%; }
